@mixin flex-center{
display:flex;
justify-content:center;
align-items:center;
}

@mixin card-shadow{
box-shadow:0 4px 8px rgba(0,0,0,.2);
}

@mixin respond-to($size){
@media(min-width:$size){
@content;
}
}