* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    background: #222;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 30px;

    list-style: none;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: yellow;
    text-decoration: underline;
}

.auth button {
    margin-left: 10px;
    padding: 10px 15px;
}


.products {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;

    padding: 40px;
}

.card {
    flex: 0 0 calc(25% - 20px);

    border: 1px solid #ccc;

    padding: 15px;

    display: flex;
    flex-direction: column;

    transition: 0.3s;
}

.card img {
    width: 100%;
}

.card button {
    margin-top: auto;

    padding: 10px;
}

.card:hover {
    transform: translateY(-5px);

    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}