* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;

    grid-template-columns: 200px 1fr 200px;

    grid-template-areas:
        "header header header"
        "hero hero hero"
        "sidebar main ads"
        "footer footer footer";

    gap: 20px;

    padding: 20px;
}


header {
    grid-area: header;
    background: #222;
    color: white;
    padding: 30px;
}

.hero {
    grid-area: hero;
    background: orange;
    padding: 60px;
}

.sidebar {
    grid-area: sidebar;
    background: #eee;
    padding: 20px;
}

.main-content {
    grid-area: main;

    display: grid;

    grid-template-columns: repeat(3, minmax(200px, 1fr));

    gap: 20px;
}

.ads {
    grid-area: ads;
    background: pink;
    padding: 20px;
}

footer {
    grid-area: footer;
    background: #222;
    color: white;
    padding: 30px;
}


.card {
    background: white;

    border: 1px solid #ccc;

    padding: 40px;

    text-align: center;
}


.featured {
    grid-column: span 2;

    background: gold;
}